


.App {
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
  overflow: hidden;

}


.global-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: transparent;
}